DAM1/HTML/xml/drive-download-20220524T151837Z-001/PR5-004_rpta.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Ejemplo:PR05-004_rpta.xsd -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	   <xsd:element name="galeria">
       <xsd:complexType>
              <xsd:sequence>
                   <xsd:element name="cuadro" >
					            <xsd:complexType>
						           <xsd:sequence>
							             <xsd:element name="titulo" type="xsd:string" />
							             <xsd:element name="referencia"  />
					                 <xsd:element name="autor" type="xsd:string"   />
						          </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
              </xsd:sequence>
      </xsd:complexType>
	  </xsd:element>
</xsd:schema>
