DAM1/HTML/HTML/CSS/PR5 CSS3/A05-002.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="coleccion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="objeto" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="numero" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fecha" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
